
h1 {
  text-align: center;
  color: #fff; 
}

body {
  text-align: center;
  background: url("/Volumes/NIXIE/lisameyerdesign.github.io/unit_3/images/openroad.jpg");
  background-size: cover;
  color: #fff;
  font-family: Helvetica;
}