

@import url(https://fonts.googleapis.com/css?family=Fjalla+One);
@import url(https://fonts.googleapis.com/css?family=Adamina);

header {
	background-color: #FFED74;
	border: 1px black solid;
	padding: 20px;
}

nav {
	background-color: #E8C66A;
	border: 1px black solid;
	padding: 20px;
}

aside {
	background-color: #FFC675;
	border: 1px black solid;
	padding: 20px;

}

article {
	background-color: #E89C6C;
	border: 1px black solid;
	padding: 20px;
}

footer {
	background-color: #FF957E;
	border: 1px black solid;
	padding: 20px;
}

section {
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;
}

}
h1 {
	font-family: 'Fjalla One', sans-serif;
	font-size: 40px;
	color: black;
	text-align: center;
	letter-spacing: 0.03em;

}

body {
	text-align: center;
  	background-image: url("/Volumes/NIXIE/lisameyerdesign.github.io/unit_3/images/openroad.jpg");
  	background-size: cover;
   	color: black;

}

#slogan {
	font-size: 27px;
	font-family: 'Adamina', serif;
	color: black;
	letter-spacing: 0.01em;
}

p {
	font-family: 'Adamina', serif;
	font-size: 16px;
	line-height: 1.5em;
  	margin: 2em;
  	color: white;
  	letter-spacing: 0.02em;
}

#topnav {
	font-size: 16px;
	font-family: 'Fjalla+One', sans-serif;
  	letter-spacing: 0.3em;
  	word-spacing: 1em;
}
